/*
=================================
 Andersen Lab Alignment Pipeline
=================================
*/
import java.time.*
Date now = new Date()

manifest {
    homePage = "http://www.andersenlab.org"
    description = "C. elegans alignment pipeline"
    mainScript = "main.nf"
    nextflowVersion = '>=20.01.0'
    version = "2.0.0"
}

params {
    tracedir = "pipeline_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

// conda is the default method for managing software environments
conda { 
    conda.enabled = true 
    conda.cacheDir = ".env"  
}

profiles {
    local { includeConfig 'conf/local.config' }
    debug { includeConfig 'conf/debug.config' }
    standard { includeConfig 'conf/quest.config' }
    quest { includeConfig 'conf/quest.config' }
    gcp { includeConfig 'conf/gcp.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
