/*
=================================
 Andersen Lab Alignment Pipeline
=================================
*/

process.cache = 'lenient'

import java.time.*
Date now = new Date()

manifest {
    homePage = "http://www.andersenlab.org"
    description = "Caenorhabditis alignment pipeline"
    mainScript = "main.nf"
    nextflowVersion = '>=20.01.0'
    version = "2.0.0"
}

params {
    tracedir = "pipeline_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

profiles {
    local { includeConfig 'conf/local.config' }
    debug { includeConfig 'conf/debug.config' }
    standard { includeConfig 'conf/rockfish.config' }
    quest { includeConfig 'conf/quest.config' }
    gcp { includeConfig 'conf/gcp.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}

// docker/singularity is now the default
singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/vast/eande106/singularity"
    pullTimeout = '60 min'
}

process.container = 'andersenlab/alignment:20220301155257db1119'
