profiles {

    local {

        includeConfig 'conf/local.config'

    }

    local_debug {

        includeConfig 'conf/local_debug.config'

    }

    quest_debug {
       
        includeConfig 'conf/quest_debug.config'

    }

    quest {   

        includeConfig 'conf/quest.config'

    }

    gcp_debug {

        includeConfig 'conf/gcp_debug.config'
        
    }

}


report {

    enabled = true

}

params.email = "yewangfaith@gmail.com"


manifest {

    homePage = "http://www.andersenlab.org"
    description = "Alignment Pipeline"
    mainScript = "main.nf"

}
