
/*
    DEBUG

    For debugging the pipeline
*/

params {
    debug = true
}

process {
	withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 1
        memory = 4.GB
    }

    withLabel: md {
        cpus = 4
        memory = 8.GB
    }

    withLabel: lg {
        cpus = 1
        memory = 12.GB
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }
}