// configuration for google pipeline API debug 
docker {

    enabled = true

}

process {
    executor = 'google-pipelines'

    withLabel: bam_coverage {
    container  = 'faithman/bam_toolbox:latest'
     }

    container  = 'faithman/alignment:latest'
    machineType = 'n1-standard-4'
}

google {
    project = 'caendr'
    zone = 'us-central1-a'
}

cloud {
    preemptible = true
}

executor {
    queueSize = 500
}


// params
params {
    debug = true
    date = new Date().format( 'yyyyMMdd' )
    genome = "WS245"
    fq_file_prefix = ""
    reference = "gs://caendr-data/GENOME/WS245"
    fqs = "strain_test_data/gcp_sample_sheet.tsv"
    out = "gs://nf-pipeline/output/DEBUG_Alignment-${date}"

    // thresholds 
    cores = 4
} 