docker {

    enabled = true

}

process {

    executor = 'google-pipelines'

    withLabel: bam_coverage {

    container = 'faithman/bam_toolbox:latest'

    }

    container = 'faithman/alignment:latest'

}

google {

    project = 'andersen-lab'

    zone = 'us-central1-a'

}


// params
params {   

    debug = true
    reference = "WS245/WS245.fa.gz"
    cores = 1

}