

docker { docker.enabled = true }

conda { 
    conda.enabled = true 
    conda.cacheDir = ".env"  
}

process {

    withLabel: bam_coverage {
        container  = 'docker://faithman/bam_toolbox:latest'
    }

    container  = 'docker://faithman/alignment:latest'

}

params {   
    debug = true
    reference = "/Users/dancook/coding/andersen_lab/alignment-nf/WS245/WS245.fa.gz"
}