

docker { docker.enabled = true }
conda { 
        conda.enabled = true 
        conda.cacheDir = "${workflow.projectDir}/.env"  
      }

process {

    withLabel: bam_coverage {
    container  = 'docker://faithman/bam_toolbox:latest'
     }

    container  = 'docker://faithman/alignment:latest'

}

// params
params {   

    debug = true
    reference = "WS245/WS245.fa.gz"
    cores = 1

}