

docker { docker.enabled = true }

conda { 
    conda.enabled = true 
    conda.cacheDir = ".env"  
}

process {

    withLabel: xs {
        cpus = 2
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 2
        memory = 2.GB
    }

    withLabel: md {
        cpus = 4
        memory = 2.GB
    }

    withLabel: lg {
        cpus = 4
        memory = 2.GB
    }

    withLabel: xl {
        cpus = 4
        memory = 4.GB
    }

    container  = 'docker://faithman/alignment:latest'

}

params {   
    debug = true
    reference = "/Users/dancook/coding/andersen_lab/alignment-nf/WS245/WS245.fa.gz"
}