/*
    Quest Configuration
*/
process {

    withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 1
        memory = 4.GB
    }

    withLabel: md {
        cpus = 4
        memory = 8.GB
        // memory = 8.GB + 8.GB * task.attempt // does this work here? - NO

    }

    withLabel: lg {
        cpus = 1
        memory = 12.GB
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }

}

params {

    // genome

    /* Adjust these parameters to set the reference genome */
    //reference_base = "/projects/b1059/data/"
	
    /* Keep these static ~ They should not need to be updated */
    //reference_dir = "${reference_base}/${species}/genomes/${project}/${ws_build}"
    //reference_caeno = "${reference_dir}/${species}.${project}.${ws_build}.genome.fa.gz"
    //reference_cb = "/projects/b1059/data/c_briggsae/genomes/nanopore_assembly/QX1410/Feb2020/caenorhabditis_briggsae_QX1410_v2.1_curated.noMtDNA.scaffolds.fa"
    //reference_ct = "/projects/b1059/data/c_tropicalis/genomes/nanopore_assembly/NIC58/June2021/caenorhabditis_tropicalis_NIC58_v2.1.scaffolds.fa.gz"

    kmers = "false"

    tmpdir = "/projects/b1042/AndersenLab/tmp"
    
}

executor {

    queueSize=400
    
}
