/*
    Quest Configuration
*/
process {

    conda = "/projects/b1059/software/conda_envs/alignment-nf_env"


    withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 1
        memory = 4.GB
    }

    withLabel: md {
        cpus = 4
        memory = 8.GB
    }

    withLabel: lg {
        cpus = 1
        memory = 12.GB
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }

}

params {
            
    // genome
    genome = "WS276"
    reference = "/projects/b1059/data/genomes/c_elegans/${genome}/c_elegans.PRJNA13758.${genome}.genomic.fa.gz"

    tmpdir = "/projects/b1042/AndersenLab/tmp"
    
}

executor {

    queueSize=200
    
}
