
singularity {
    enabled = true
    cacheDir = '/projects/b1059/projects/Ye/singularity_cache'
}


process {

    module = 'singularity'

    withLabel: bam_coverage {
    container  = 'faithman/bam_toolbox:latest'
     }

    container  = 'faithman/concordance:latest'

}

// params
params {

    // genome
    genome = "WS245"
    reference = "/projects/b1059/data/genomes/c_elegans/${genome}/"
    annotation_reference = "WS263"    

    debug = true
    tmpdir = "/projects/b1042/AndersenLab/tmp"
    bamdir = "bam_debug"
    cores = 4

}