/*
    Quest Configuration
*/
process {

    conda = "/projects/b1059/software/conda_envs/alignment-nf_env"

    withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 1
        memory = 4.GB
    }

    withLabel: md {
        cpus = 4
        memory = 8.GB
    }

    withLabel: lg {
        cpus = 1
        memory = 12.GB
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }

}

params {

    // genome

    /* Adjust these parameters to set the reference genome */
    reference_base = "/projects/b1059/data/"
    genome_species="c_elegans"
    project="PRJNA13758"
	ws_build="WS276"
	
    /* Keep these static ~ They should not need to be updated */
    reference_dir = "${reference_base}/${genome_species}/genomes/${project}/${ws_build}"
    reference_ce = "${reference_dir}/${genome_species}.${project}.${ws_build}.genome.fa.gz"

    reference_cb = "/projects/b1059/projects/Lewis/c_briggsae/variant_calling/alignment/reference/caenorhabditis_briggsae_QX1410.v0.9.scaffolds.fa.gz"

    reference_ct = "/projects/b1059/projects/Lewis/c_tropicalis/variant_calling/alignment/reference/caenorhabditis_tropicalis_NIC58.v1.scaffolds.fa.gz"

    kmers = "false"

    tmpdir = "/projects/b1042/AndersenLab/tmp"
    
}

executor {

    queueSize=400
    
}
