/*
    Rockfish Configuration
*/

singularity {
    cacheDir = "/vast/eande106/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}

process {
    executor = "slurm"

    withLabel: xs {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 1'
        cpus = 1
        memory = 4.GB
        queue = "parallel"
    }

    withLabel: sm {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 2'
        cpus = 2
        memory = 8.GB
        queue = "parallel"
    }

    withLabel: md {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 4'
        cpus = 4
        memory = 16.GB
        queue = "parallel"
    }

    withLabel: lg {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = 160.GB
        queue = "parallel"
    }

    withLabel: xl {
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = 160.GB
        queue = "parallel"
    }

    withLabel: alignment {
        container = 'docker://andersenlab/alignment:20220301155257db1119'
    }

    withLabel: blob {
        container = 'docker://andersenlab/blobtools:v2.1'
    }

    withLabel: R {
        container = "docker://andersenlab/r_packages:v0.7"
    }

    withLabel: postgatk {
        container = "docker://andersenlab/postgatk:latest"
    }

    withLabel: samtools {
        container = 'docker://andersenlab/trim-fq:2022030115492810c8da'
    }

    withLabel: multiqc {
        container = "docker://andersenlab/multiqc:latest"
    }

}

params {
    kmers = "false"
    tmpdir = "/scratch4/eande106/AndersenLab/tmp"
    R_libpath = "/data/eande106/software/R_lib_3.6.0"
    data_path = "/vast/eande106/data"
}

executor {
    queueSize=400
}

workflow {
    workDir = "/scratch4/eande106"
}