/*
    Rockfish Configuration
*/

process {
    executor = "slurm"
    queue = "shared"

    withLabel: xs {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 1'
        cpus = 1
    }

    withLabel: sm {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 2'
        cpus = 2
    }

    withLabel: md {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 4'
        cpus = 4
    }

    withLabel: lg {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 8'
        cpus = 8
    }

    withLabel: xl {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 12'
        cpus = 12
    }
}

params {
    kmers = "false"
    tmpdir = "/scratch4/eande106/AndersenLab/tmp"
    R_libpath = "/data/eande106/software/R_lib_3.6.0"
    data_path = "/vast/eande106/data"
}

executor {
    queueSize=400
}

singularity {
    cacheDir = "/vast/eande106/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}