/*
    Rockfish Configuration
*/

process {
    executor = "slurm"

    withLabel: xs {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 1'
        cpus = 1
        memory = 4.GB
        queue = "shared"
    }

    withLabel: sm {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 2'
        cpus = 2
        memory = 8.GB
        queue = "shared"
    }

    withLabel: md {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 4'
        cpus = 4
        memory = 16.GB
        queue = "shared"
    }

    withLabel: lg {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = 160.GB
        queue = "parallel"
    }

    withLabel: xl {
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = 160.GB
        queue = "parallel"
    }
}

params {
    kmers = "false"
    tmpdir = "/scratch4/eande106/AndersenLab/tmp"
    R_libpath = "/data/eande106/software/R_lib_3.6.0"
    data_path = "/vast/eande106/data"
}

executor {
    queueSize=400
}

singularity {
    cacheDir = "/vast/eande106/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}

workflow {
    workDir = "/scratch4/eande106"
}